
.information{
    width: 100%;
    height: 200vh;
    background-color: #fff;

    .inner{
        h1{
            font-size:300%;
            font-weight:normal;
            margin:0px;
            text-align : left;
            margin-left: 20vh;
            font-family : 'Oswald', sans-serif;
            // background: linear-gradient(135deg, #c94949, #93a857);
        }
    }

   

    .section{
        width:80%;
        border-top:1px solid #777;
        padding:20px 0;
        margin:auto;

        .pageitem {
            display:table;
            table-layout:fixed;
            width:100%;
            margin-bottom:15px;
            padding-top:15px;
            text-align:justify;

            .jog{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                video{
                    width: 40%;
                    //height: 10%;
                    opacity: 0.8;
                    border-radius: 30%;
                    box-shadow: 10px 15px 15px #000;
                }
            }

           
            h2{
                font-size:180%;
                background-color:inherit;
                color:#444;
                margin-top:0;
            }
            p{
                padding:0;
                margin:1em 0;
                font-size:115%;
                //line-height:175%;
            }
            a{
                text-decoration:underline;
            }
            .col{
                padding: 0 2% 0 1%;
                display: table-cell;

                img{
                    width: 39%;
                    height: 30%;
                    //border-radius: 50%;
                    position: absolute;
                    //margin-left: 300px;
                    margin-right: 300px;
                    box-shadow: 10px 10px 15px #000;
                    opacity: 0.8;
                }
            }
        }
        
    }

}

